/* Estilos ayuda */
main{
    background-color: $colormain;
    .leyenda {
        display: flex;
        margin: 30px 600px;
    }
    .buscador {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    h6 {
        display: flex;
        margin: 30px 600px;
        align-content: center;
    }
    .cuentaRegistrarse {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-group-item {
            margin: 3px;
        }
    }
    .cuentaRegistrarse {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}
